[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
sounddevice = "*"
numpy = "*"
pynput = "*"
toml = "*"

[dev-packages]

[requires]
python_version = "3.6"
